<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= it.title %></title>
	<link rel="stylesheet" href="css/style.css">
	<meta name="description" content="">

	<meta property="og:title" content="<%= it.title %>">
	<meta property="og:type" content="<%= it.type %>">
	<meta property="og:url" content="<%= it.url %>">
	<meta property="og:image" content="<%= it.image %>">
	<meta property="og:image:alt" content="<%= it.title %>">

	<link rel="icon" href="/favicon.ico" sizes="any">
	<link rel="icon" href="/icon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="icon.png">
</head>
<body>

<%~ it.body %>
<%~ include('../components/footer-section') %>

</body>
</html>