<% layout('../layouts/main') %>

<div>
	<article itemscope itemtype="https://schema.org/Book">
		<tag-list :tags="book.tags" />
		<header>
			<h1 itemprop="name"><%= it.book.title %></h1>
			<% if(it.book.series) { %>
			<p class="uppercase text-sm">
				Part <%= it.book.part %> of the <strong><%= it.book.series %></strong> series.
			</p>
			<% } %>
		</header>
		<div>
			<publish-date :item="book" />
			<div class="overflow-hidden">
				<%~ include('../components/article-image', {
					image: it.book.image,
				}) %>
				<%~ include('../components/prose-block', {
					summary: it.book.summary,
					content: it.book.content,
				}) %>
			</div>
			<% if(it.book.urls) { %>
			<aside class="border-t border-gray-200 mt-6 pt-4 px-2">
				<p class="text-xl">More information, including purchasing options, is available at the following sites:</p>
				<ul class="bullet">
					<% Object.keys(it.book.urls).forEach(key => { %>
					<li>
						<a href="<%= it.book.urls[key] %>" class="link" itemprop="url"><%= key %></a>
					</li>
					<% }) %>
				</ul>
			</aside>
			<% } %>
		</div>
	</article>
</div>
